
@{
    ViewData["Title"] = Localizer["Klanten"];
}

<div class="container">
    <h2>@Localizer["Wat wil u doen"]?</h2>
    <div class="card-group text-capitalize text-center" >
        <a asp-action="Create">
            <div class="card">
                <img class="card-img-top" src="~/images/add_client.png" alt="@Localizer["Nieuwe klant aanmaken"]">
                <div class="card-img-overlay">
                    <h3 class="card-title text-light">@Localizer["Nieuwe klant aanmaken"]</h3>
                </div>
            </div>
        </a>
        <a asp-action="Search">
            <div class="card">
                <img class="card-img-top" src="~/images/search_client.png" alt="@Localizer["Klant zoeken"]">
                <div class="card-img-overlay">
                    <h3 class="card-title text-light">@Localizer["Klant zoeken"]</h3>
                </div>
            </div>
        </a>
    </div>
</div>

