@model IEnumerable<Fos.Models.Client>
@using Fos.Models

@{
    ViewData["Title"] = Localizer["Klant zoeken"];
}


<div class="container">
    <h2>@ViewData["Title"]</h2>

    <p class="d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> @Localizer["Klant aanmaken"]</a>
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Localizer["Naam"]
                </th>
                <th>
                    @Localizer["Tafel(s)"]
                </th>
                <th colspan="4" class="text-center">
                    @Localizer["Acties"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        <a data-toggle="modal" data-target="#editNameModal" class="editClientButton" data-id="@item.Id" data-client-name="@item.Name"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                    <td>
                        @item.DinnerTableClients.FirstOrDefault(dtc => dtc.IsCurrent).DinnerTable.TableNumber<br/>
                        (@String.Join("->", item.DinnerTableClients.OrderBy(dtc => dtc.CreatedOn).Select(dtc => dtc.DinnerTable.TableNumber).ToList()))
                    </td>
                    <td onclick="window.location.href = ($($(this).children(':first')).prop('href'));" class="text-center" style="background-color:#4CD4B0; cursor: pointer;">
                        <a asp-controller="Order" asp-action="Create" asp-route-id="@item.Id" class="text-light">@Localizer["Nieuwe bestelling"]</a>
                    </td>
                    <td onclick="window.location.href = ($($(this).children(':first')).prop('href'));" class="text-center" style="background-color:#EDD834; cursor: pointer;">
                        <a asp-controller="Order" asp-action="AllFor" asp-route-id="@item.Id" class="text-light">@Localizer["Overzicht bestellingen"]</a>
                    </td>
                    @if (User.IsInRole(RoleName.Cashier))
                    {
                        <td onclick="window.location.href = ($($(this).children(':first')).prop('href'));" class="text-center" style="background-color:#FFFCE6; cursor: pointer;">
                            <a asp-controller="Client" asp-action="Pay" asp-route-id="@item.Id" class="text-dark">@Localizer["Afrekenen"]</a>
                        </td>
                        <td onclick="window.location.href = ($($(this).children(':first')).prop('href'));" class="text-center" style="background-color:#7D1424; cursor: pointer;">
                            <a asp-controller="Client" asp-action="Delete" asp-route-id="@item.Id" class="text-light">@Localizer["Verwijderen"]</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <p class="d-flex justify-content-end">
        <a asp-action="All" class="btn btn-outline-secondary"><i class="fas fa-bars"></i></a>
    </p>
</div>

<!-- change client name modal -->
<div class="modal fade" id="editNameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Naam wijzigen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Client" asp-action="UpdateName">
                <div class="modal-body">
                    <p>Geef de nieuwe naam van de klant in:</p>
                    <input type="text" name="newClientName" id="destinationClientName" class="form-control"/>
                    <input type="number" value="" id="destinationClientId" name="clientId" hidden/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var clientButtons = document.getElementsByClassName("editClientButton");
    for (var i = 0; i < clientButtons.length; i++) {
        clientButtons[i].addEventListener('click', function () {
            document.getElementById('destinationClientId').value = this.getAttribute('data-id');
            document.getElementById('destinationClientName').value = this.getAttribute('data-client-name');
        });
    }
</script>
<!-- end change client name modal -->