@model Fos.Models.TableViewModels.ManageViewModel
@{
    ViewData["Title"] = "Tafels beheren";
}
<div class="container">
    <h2>@Localizer["Tafels beheren"]</h2>
    <div class="card">
        <div class="card-header">
            @Localizer["Tafels aanmaken"]
        </div>
        <div class="card-body">
            <p class="card-text">@Localizer["Geef in onderstaande velden het interval in van tafels dat u wil aanmaken. Tafels die al bestaan worden niet opnieuw aangemaakt."]</p>
            <form class="form-inline" asp-action="Create">
                <div class="form-group mb-2">
                    <label asp-for="CreateFrom" class="mr-2"></label>
                    <input asp-for="CreateFrom" class="form-control @(ViewData.ModelState.ContainsKey("CreateFrom") ? "is-invalid":"is-valid")">
                    <div asp-validation-for="CreateUntil" class="invalid-feedback">@Html.ValidationMessageFor(m => m.CreateFrom)</div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label asp-for="CreateUntil" class="mr-2"></label>
                    <input asp-for="CreateUntil" class="form-control @(ViewData.ModelState.ContainsKey("CreateUntil") ? "is-invalid":"is-valid")">
                    <div asp-validation-for="CreateUntil" class="invalid-feedback">@Html.ValidationMessageFor(m => m.CreateUntil)</div>
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-plus"></i> @Localizer["Toevoegen"]</button>
            </form>
        </div>
    </div>

    <hr />
    @if (Model.Tables.Count > 0)
    {
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@Localizer["Tafelnummer"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model.Tables.OrderBy(t =>t.TableNumber))
            {
                <tr>
                    <td>@table.TableNumber</td>
                    <td><a href="Delete/@table.Id.ToString()"><i class="fas fa-trash"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <p class="text-center">--@Localizer["Er zijn momenteel geen tafels"]--</p>

    }
</div>
